.content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.header {
  background: rgb(255, 186, 0);
  height: auto;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
[data-theme='dark'] .content {
  background: #141414;
}
